.return-link {
  position: absolute;
  top: 25px;
  left: 15px;
}

.restaurant-img {
  object-fit: cover;
  width: 100%;
  max-height: 20em;
}

.menu-container {
  padding: 1em;
  background: $grey;
  border-radius: 25px 25px 0 0;
  position: relative;
  margin-top: -4em;
}

.menu-heading {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-between;
}

.menu-section {
  text-transform: uppercase;
  position: relative;
  margin: 1em 0;
  &::after {
    content: "";
    background-color: $tertiary;
    width: 2em;
    height: 0.2em;
    position: absolute;
    left: 0;
    bottom: -0.2em;
  }
}

.menu-item-container {
  animation: slide-top 1s forwards;
  background-color: #fff;
  border-radius: 15px;
  padding: 1em;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
  width: 100%;
  opacity: 0;
  box-shadow: -1px 6px 10px 2px rgb(166 166 166 / 34%);

  &:hover {
    cursor: pointer;
  }

  &:hover {
    .menu-item {
      width: 75%;
      .item-details {
        .select-item {
          right: 0vw;
          transition: 0.7s ease-in-out;
          i {
            animation: rotate 0.5s linear 0.3s;
          }
        }
      }
    }
  }

  .menu-item {
    width: 100%;
    transition: 0.7s linear;

    h4 {
      margin: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      &::first-letter {
        text-transform: capitalize;
      }
    }

    .item-details {
      display: flex;
      align-items: center;
      justify-content: space-between;
      p:first-child {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      .select-item {
        position: absolute;
        text-align: center;
        right: -20vw;
        top: 0;
        height: 100%;
        width: 20%;
        transition: 1s;
        background-color: $tertiary;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.7s ease-in-out;

        i {
          color: #fff;
          font-size: 1.5em;
        }
      }
    }
  }
}

.adelay-1 {
  animation-delay: 0.1s;
}
.adelay-2 {
  animation-delay: 0.2s;
}
.adelay-3 {
  animation-delay: 0.3s;
}
.adelay-4 {
  animation-delay: 0.4s;
}
.adelay-5 {
  animation-delay: 0.5s;
}
.adelay-6 {
  animation-delay: 0.6s;
}
.adelay-7 {
  animation-delay: 0.7s;
}
.adelay-8 {
  animation-delay: 0.8s;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin: 2em 0 1em;
}
